.main {
}

.main__slogan {
  display: flex;
  align-items: center;

  padding: 40px;
}

.main__slogan-texts {
  padding: 56px;
}

.main__slogan-texts h2 {
  text-transform: uppercase;
  color: #9c5ade;
}

.main__courses {
  display: grid;

  grid-template-columns: repeat(3, minmax(320px, 1fr));
}

.main__courses-item {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  transition: 300ms all ease;

  color: #fff;
  padding: 48px;
}

.main__courses-item:first-child {
  background-color: #2f2e41;
}

.main__courses-item:nth-of-type(2) {
  background-color: #707070;
}

.main__courses-item:nth-of-type(3) {
  background-color: #6c63ff;
}

.main__courses-item:nth-of-type(4) {
  background-color: #707070;
}

.main__courses-item:nth-of-type(5) {
  background-color: #6c63ff;
}

.main__courses-item:nth-of-type(6) {
  background-color: #2f2e41;
}

.main__courses-item-title {
  cursor: pointer;
}

/* Con esto cuando hacemos hover en el titlo del curso, se muestra su descripcion*/
.main__courses-item-text {
  display: none;
  transition: 300ms all ease;
}

.showText {
  display: inherit;
}

.moveTitle {
  animation: moveTitle 0.5s forwards;
  height: 50px;
}

@keyframes moveTitle {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}
